fastapi
uvicorn[standard]

google-genai

sentence-transformers
transformers
torch

faiss-cpu

duckduckgo-search

beautifulsoup4
lxml

spacy==3.8.13

numpy
scipy
scikit-learn

requests

python-dotenv
pydantic
